body {
  font-family: Times,serif, sans-serif;
  margin: 0;
  font-style: italic;
}
.navbar {
  overflow: hidden;
  background-color: black; 
}
.navbar a {
  float: right;
  font-size: 16px; 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
  float: right;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #ff0080;
}
.subnav-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  width: 84%;
  z-index: 1;
}
.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: #ff0080;
  color: white;
}
.subnav:hover .subnav-content {
  display: block;
}
.port{
  width: 100%;
  height: auto;
}
.post{
  width: 400px;
  height: 400px;
  margin-left: 35px;
}
footer{
  background-color: #FFFF00;
}
.p1{
  font-style: italic;
  font-size: 20px;
  color: #0000FF;
}
button{
    display: block;
    margin: auto;
    padding: 1em 2em;
    background: #FFFF00;
    color: black;
    border-radius: 2em;
    border:none;
    outline: 2px solid #FFFF00;
    outline-offset: 3px;
    margin: auto;
    font-style: italic;
    font-weight: bold;
    font-family: Times,serif, sans-serif;
    font-size: 18px;
}
.foot{
  text-align: center;
}
.tabbot{
  margin: auto;
}
.bots{
   display: block;
    margin: auto;
    padding: 1em 2em;
    background: #ff0080;
    color: white;
    border-radius: 2em;
    border:none;
    outline: 2px solid #ff0080;
    outline-offset: 3px;
    margin: auto;
    font-style: italic;
    font-weight: bold;
    font-family: Times,serif, sans-serif;
}
h2{
  text-align: center;
  color: #0000FF
}
.us{
  width: 90%;
  height:auto;
}
hr{
  height: 10px;
  background-color: #ff0080;
}
.td{
  text-align: center;
}
.imgs{
  height: 250px;
  width: auto;
}
.extra{
  height: auto;
  width: 250px;
}
.oz24{
  margin: 30px;
  height: 250px;
  width: auto;
}
.contact{
  height: 200px;
  width: auto;
}
.table{
  width: 100%;
  background-color: black;
}